@import url(http://fonts.googleapis.com/css?family=Playfair+Display);
@import url(http://fonts.googleapis.com/css?family=Roboto:300);

body{
	margin: 0;
	background: #eee;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}
.header{
	width: 900px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	background: #333;
	color: #a9a9a9;
}
.header h1{
	margin: 10px 0 10px 0;
	color: #fff;
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	cursor: pointer;
}
h1 p{
	margin: 0;
}
.menu{
	margin: 20px auto 10px auto;
}
.menuitem,.submenuitem{
	display: inline-block;
	padding: 10px 0 10px 0;
	margin: 0;
	width: 100px;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 10pt;
}
.submenu{
	width: 900px;
	margin: 20px auto;
	text-align: center;
}
.submenuitem{
	padding: 10px 20px;
	margin: 10px;
	background-color: #eee;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-transition: background-color 0.6s ease-out;
	-moz-transition: background-color 0.6s ease-out;
	transition: background-color 0.6s ease-out;
}
.menuitemhover{
	color: #FFB433;
	text-shadow: 0 0 20px #FFB433;
}
.menuitemclicked{
	color: #FFB433;
}
.submenuitem:hover{
	background-color: #c7c7c7;
	color: #f2f2f2;
}
.submenuitemclicked{
	background-color: #c7c7c7;
	color: #f2f2f2;
}

.content{
	font-size: 10pt;
	width: 750px;
	height: 500px;
	margin: 10px auto;
	text-align: center;
	padding-top: 5px;
	/*overflow: auto;*/
}
.content a{
	text-decoration: none;
	display: inline-block;
	padding: 10px 20px;
	text-align: center;
	color: #000;
	height: 330px;
	width: 200px;
	margin: 5px;
	vertical-align: top;
	-webkit-transition: margin 0.2s ease-out;
    -moz-transition: margin 0.2s ease-out;
    -o-transition: margin 0.2s ease-out;
}
.content a:hover{
	margin-top: 0px;
	background: #fcfcfc;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}
.content a img{
	height: 300px;
	width: 200px;
}

.footer {
	font-size: 12px;
	width: 200px;
	text-align: center;
	margin: 20px auto;
}
.footer a{
	text-decoration: none;
	text-align: center;
	color: #000;
}

#c {
	width: 800px;
	height: 800px;
}